@model FinanceTrackerWebApp.Models.CreditCard

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Credit Card Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomCardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomCardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatementBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatementBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextPaymentDueDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextPaymentDueDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CardManagementUrl)
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.CardManagementUrl" target="_blank">@Model.CardManagementUrl</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditLimit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CardId">Edit</a> |
    <a asp-action="Index">Go Back</a>
</div>
